@import "../../styles/utils/reset";
@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";
@import "../../styles/utils/animations";

.fournisseur-tableau {
  background-color: grey;
  margin: 1rem 3rem;
  color: white;
  margin: auto;
  position: relative;
  height: 80vh;
  border-radius: 10px;
  max-width: 1400px;
  animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fournisseur-tableau__top {
  border-radius: 10px 10px 0 0;
  background-color: black;
  font-size: 1.5rem;
  padding-top: 2rem;
  text-align: center;
  position: relative;
  height: 10%;
  color: red;

  button {
    position: absolute;
    top: 1rem;
    right: 2rem;

    img {
      height: 3rem;
    }
  }
}

.fournisseur-tableau__content {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  height: 80%;
}

.fournisseur-card__footer {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
