.fournisseur-tableau {
  background-color: grey;
  margin: 1rem 3rem;
  color: white;
  height: 80vh;
  border-radius: 10px;
}

.fournisseur-tableau__top {
  border-radius: 10px 10px 0 0;
  background-color: black;
  font-size: 1.5rem;
  padding-top: 2rem;
  text-align: center;
  position: relative;
  height: 10%;

  button {
    position: absolute;
    top: 1rem;
    right: 2rem;

    img {
      height: 3rem;
    }
  }
}

.fournisseur-tableau__content {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  height: 720px;
}
