.fournisseur-card {
  height: 100px;
  background-color: white;
  color: black;
  margin: 1rem;
  display: flex;
  border-radius: 10px;
  width: 300px;
  h3 {
    margin-top: 1rem;
  }
  p {
    margin: 1rem 0;
  }
}

.fourniseur-card__image-container {
  background-color: rgb(188, 188, 188);
  height: 100%;
  width: 30%;
  margin-right: 1rem;
  border-radius: 10px 0 0 10px;
}
