// ----- Colors -----

$primary: #e3001b;
$black: #020101;

//nuances
$green: #a9ca9a;
$orange: #e4b949;
$red: #ec919a;

// radius
$radius: 1rem;

// Responsive
$bigPhone: 40.5rem;
$tablet: 76.8rem;
$desktop: 120rem;
