.demande-card {
  background-color: #fff;
  height: 80px;
  position: relative;
  border-radius: 10px;
  margin: 1rem 0;
  text-align: center;
  padding: 0.8rem;
  max-width: 400px;
  cursor: pointer;
  &:active {
    transform: scale(0.99);
  }
}
.demande-card-trash-btn {
  background-color: rgb(202, 124, 124);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5rem;
  border-radius: 0 1rem 1rem 0;
  img {
    height: 3.2rem;
  }
}
