.card-commande {
  background-color: white;
  margin: 1rem;
  height: auto;

  border-radius: 10px;
  padding: 1rem 0.2rem;

  ul {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;
    margin-top: 2.2rem;
    justify-content: space-between;
    li {
      text-align: left;
      margin: 1rem;
      p {
        font-size: 1.2rem;
        &:nth-child(1) {
          text-transform: uppercase;
          color: blue;
          font-size: 1.1rem;
          font-weight: bolder;
          margin-bottom: 0.4rem;
        }
      }
    }
  }

  hgroup {
    position: relative;
    font-size: 1.3rem;
    color: red;
    h3 {
      position: absolute;
      left: 1rem;
    }
    h4 {
      position: absolute;
      top: 0rem;
      right: 1rem;
      text-transform: uppercase;
    }
  }
}
