@import "../../styles/utils/reset";
@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";
@import "../../styles/utils/animations";

.btn-modal {
  padding: 10px;
}

.overlay {
  color: white;
  position: absolute;
  z-index: 888888;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.715);
}

.modal {
  z-index: 99999;
  animation: flip-in-hor-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  box-shadow: 0px 10px 35px 0px rgb(255, 255, 255);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(21, 21, 21);
  border-radius: 10px;
  max-width: 600px;
  height: 300px;
  min-width: 300px;
  padding: 1.2rem 2.8rem;
}

.close-modal {
  position: absolute;

  top: 0;
  padding: 1rem 1rem;
  right: 0;
  img {
    height: 1.5rem;
  }
}

.modal-content {
  h2 {
    text-align: center;
    margin-top: 1rem;
  }
  form {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    label {
      margin-bottom: 0.4rem;
    }
  }
}
.confirmation-btn {
  background-color: red;
  color: white;
  text-transform: uppercase;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  width: 130px;
  border-radius: 10px;
  margin: 1rem 0;
}
