@import "./styles/utils/reset";
@import "./styles/utils/variables";
@import "./styles/utils/mixins";

main {
  margin-left: 8rem;
  height: 94vh;
}

@media screen and (max-width: 900px) {
  main {
    margin-left: 0;
  }
}
